.details {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  height: 68vh;
}
.cancel {
  margin-right: auto;
}

footer {
  display: flex;
  justify-content: space-between;
}

.success {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}